In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas_profiling

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import randomforestclassifier, gradientboostingclassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

%matplotlib inline

ImportError: cannot import name 'randomforestclassifier' from 'sklearn.ensemble' (/Users/jamessanders/opt/anaconda3/envs/task1env/lib/python3.9/site-packages/sklearn/ensemble/__init__.py)

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

%matplotlib inline

In [6]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
data = pd.read_csv('cleanedtask1.csv')
data.head()

   in-store  age  items   amount  region  age range  amount spent
0         0   37      4   281.03       2        2.0             1
1         0   35      2   219.51       2        1.0             1
2         1   45      3  1525.70       4        2.0             4
3         1   46      3   715.25       3        2.0             2
4         1   33      4  1937.50       1        1.0             4

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79979 entries, 0 to 79978
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   in-store      79979 non-null  int64
 1   age           79979 non-null  int64
 2   items         79979 non-null  int64
 3   amount        79979 non-null  float64
 4   region        79979 non-null  int64
 5   age range     79756 non-null  float64
 6   amount spent  79979 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 4.3 MB

In [11]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  age  items   amount
0         0   37      4   281.03
1         0   35      2   219.51
2         1   45      3  1525.70
3         1   46      3   715.25
4         1   33      4  1937.50

In [12]:
titles = list(data.columns)

In [13]:
titles

['in-store', 'age', 'items', 'amount', 'region', 'age range', 'amount spent']

In [14]:
titles[3], titles[]= titles[4], titles[1]

In [15]:
titles

['in-store', 'region', 'items', 'amount', 'age', 'age range', 'amount spent']

In [17]:
data = data[titles]

In [18]:
data

       in-store  region  items   amount  age  age range  amount spent
0             0       2      4   281.03   37        2.0             1
1             0       2      2   219.51   35        1.0             1
2             1       4      3  1525.70   45        2.0             4
3             1       3      3   715.25   46        2.0             2
4             1       1      4  1937.50   33        1.0             4
...         ...     ...    ...      ...  ...        ...           ...
79974         1       1      3   558.82   71        3.0             2
79975         0       3      7  1932.00   59        2.0             4
79976         0       2      1   414.16   54        2.0             1
79977         1       1      4   335.32   49        2.0             1
79978         1       3      1   527.12   30        1.0             2

[79979 rows x 7 columns]

In [28]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  region  items   amount
0         0       2      4   281.03
1         0       2      2   219.51
2         1       4      3  1525.70
3         1       3      3   715.25
4         1       1      4  1937.50

In [29]:
#dependent variable
y = data['amount spent']

In [30]:
#Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [31]:
#Modeling (Classification)
algo = DecisionTreeClassifier()
model = algo.fit(X_train,y_train)

In [32]:
#Predictions
preds = model.predict(X_test)

In [33]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00     11014
           2       1.00      1.00      1.00      5819
           3       1.00      1.00      1.00      2560
           4       1.00      1.00      1.00      2592
           5       1.00      1.00      1.00      1002
           6       1.00      1.00      1.00      1007

    accuracy                           1.00     23994
   macro avg       1.00      1.00      1.00     23994
weighted avg       1.00      1.00      1.00     23994

In [34]:
titles = list(data.columns)

In [35]:
titles

['in-store', 'region', 'items', 'amount', 'age', 'age range', 'amount spent']

In [36]:
titles[3], titles[4]= titles[4], titles[3]

In [37]:
data = data[titles]

In [38]:
titles

['in-store', 'region', 'items', 'age', 'amount', 'age range', 'amount spent']

In [39]:
titles[2], titles[5]= titles[5], titles[2]

In [43]:
titles

['in-store', 'region', 'age range', 'age', 'amount', 'items', 'amount spent']

In [44]:
titles[2], titles[5]= titles[5], titles [2]

In [45]:
titles

['in-store', 'region', 'items', 'age', 'amount', 'age range', 'amount spent']

In [47]:
data=data[titles]

In [48]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  region  items  age
0         0       2      4   37
1         0       2      2   35
2         1       4      3   45
3         1       3      3   46
4         1       1      4   33

In [49]:
#dependent variable
y = data['amount spent']

In [50]:
#Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [51]:
#Modeling (Classification)
algo = DecisionTreeClassifier()
model = algo.fit(X_train,y_train)

In [52]:
#Predictions
preds = model.predict(X_test)

In [53]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           1       0.69      0.71      0.70     11014
           2       0.38      0.45      0.41      5819
           3       0.22      0.21      0.21      2560
           4       0.22      0.16      0.19      2592
           5       0.14      0.09      0.11      1002
           6       0.15      0.11      0.13      1007

    accuracy                           0.48     23994
   macro avg       0.30      0.29      0.29     23994
weighted avg       0.47      0.48      0.47     23994

In [98]:
#define bins
bins=[18,30,50,70,85]
#name of group 1=18-34, 2=35-64 3=65+
group_names=[1,2,3,4]

data['age range']= pd.cut(data['age'],bins,labels = group_names)
data

,in-store,region,items,amount,age,age range,amount spent,age range2
0,0,2,4,281.03,37,2,1,2
1,0,2,2,219.51,35,2,1,2
2,1,4,3,1525.70,45,2,4,2
3,1,3,3,715.25,46,2,2,2
4,1,1,4,1937.50,33,2,4,2
...,...,...,...,...,...,...,...,...
79974,1,1,3,558.82,71,4,2,4
79975,0,3,7,1932.00,59,3,4,3
79976,0,2,1,414.16,54,3,1,3
79977,1,1,4,335.32,49,2,1,2
79978,1,3,1,527.12,30,1,2,1

In [99]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  region  items   amount
0         0       2      4   281.03
1         0       2      2   219.51
2         1       4      3  1525.70
3         1       3      3   715.25
4         1       1      4  1937.50

In [100]:
data

,in-store,region,items,amount,age,age range,amount spent,age range2
0,0,2,4,281.03,37,2,1,2
1,0,2,2,219.51,35,2,1,2
2,1,4,3,1525.70,45,2,4,2
3,1,3,3,715.25,46,2,2,2
4,1,1,4,1937.50,33,2,4,2
...,...,...,...,...,...,...,...,...
79974,1,1,3,558.82,71,4,2,4
79975,0,3,7,1932.00,59,3,4,3
79976,0,2,1,414.16,54,3,1,3
79977,1,1,4,335.32,49,2,1,2
79978,1,3,1,527.12,30,1,2,1

In [62]:
titles = list(data.columns)

In [63]:
titles

['in-store',
 'region',
 'items',
 'amount',
 'age',
 'age range',
 'amount spent',
 'age range2']

In [104]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  region  items   amount
0         0       2      4   281.03
1         0       2      2   219.51
2         1       4      3  1525.70
3         1       3      3   715.25
4         1       1      4  1937.50

In [105]:
#dependent variable
y = data['age range']

In [106]:
#Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [107]:
#Modeling (Classification)
algo = RandomForestClassifier()
model = algo.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [108]:
data

,in-store,region,items,amount,age,age range,amount spent,age range2
0,0,2,4,281.03,37,2,1,2
1,0,2,2,219.51,35,2,1,2
2,1,4,3,1525.70,45,2,4,2
3,1,3,3,715.25,46,2,2,2
4,1,1,4,1937.50,33,2,4,2
...,...,...,...,...,...,...,...,...
79974,1,1,3,558.82,71,4,2,4
79975,0,3,7,1932.00,59,3,4,3
79976,0,2,1,414.16,54,3,1,3
79977,1,1,4,335.32,49,2,1,2
79978,1,3,1,527.12,30,1,2,1

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79979 entries, 0 to 79978
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   in-store      79979 non-null  int64
 1   region        79979 non-null  int64
 2   items         79979 non-null  int64
 3   amount        79979 non-null  float64
 4   age           79979 non-null  int64
 5   age range     79756 non-null  category
 6   amount spent  79979 non-null  int64
 7   age range2    79756 non-null  category
dtypes: category(2), float64(1), int64(5)
memory usage: 3.8 MB